---
import bgGallery from "@images/bg-gallery.svg";
import imgGallery1 from "@images/gallery/gallery-img-1.webp";
import imgGallery2 from "@images/gallery/gallery-img-2.webp";
import imgGallery3 from "@images/gallery/gallery-img-3.webp";
import imgGallery4 from "@images/gallery/gallery-img-4.webp";
import imgGallery5 from "@images/gallery/gallery-img-5.webp";
import imgGallery6 from "@images/gallery/gallery-img-6.webp";
import imgGallery7 from "@images/gallery/gallery-img-7.webp";
import ItemGallery from "./ItemGallery.astro";
---

<section class="flex flex-col w-full bg-white relative">
  <img
    class="absolute size-full object-cover -z-0"
    src={bgGallery.src}
    alt="Fondo Galería"
  />
  <div class="flex flex-col gap-6 container mx-auto w-full py-16 z-0">
    <h4 class="text-primary-red font-black text-xl text-center fade-in-letters">
      NUESTRO TRABAJO
    </h4>
    <h3
      class="text-primary-blue font-black text-5xl italic text-center fade-in-letters"
    >
      Innovación y Excelencia en Cada Proyecto
    </h3>
    <div class="flex flex-col fade-up">
      <p class="text-2xl italic font-medium text-center fade-in-letters">
        Ofrecemos una amplia gama de <span class="text-primary-red font-bold"
          >SOLUCIONES y PRODUCTOS</span
        > para diferentes industrias.
      </p><p class="text-2xl italic font-medium text-center fade-in-letters">
        Explora nuestra galería y descubre cómo impulsamos el éxito de nuestros
        clientes.
      </p>
    </div>
    <div
      class="containter w-full mx-auto grid grid-cols-4 grid-rows-[450px,280px] gap-6"
    >
      <ItemGallery
        href="/soluciones"
        description="Fabricación por mecanizado de pines, rodillos, engranajes, ejes roscados, poleas y más. Somos tu mejor aliado en Servicios de Metalmecánica"
        imgSrc={imgGallery1.src}
        title="No es magia, es Tecnología en Ingeniería de Precisión"
      />
      <ItemGallery
        href="/soluciones"
        description="Nuestro servicio de diagnóstico y mantenimiento de motores eléctricos industriales garantiza un funcionamiento óptimo y confiable de sus equipos."
        imgSrc={imgGallery2.src}
        title="Servicio especializado para todo tipo de motor eléctrico de corriente alterna o continua"
      />
      <ItemGallery
        href="/productos"
        description="Nuestras poleas están diseñadas para operaciones continuas, extendiendo la vida útil de componentes como rodamientos, chumaceras, bandas transportadoras y la estructura de la polea misma."
        imgSrc={imgGallery3.src}
        title="Poleas para Operaciones Continuas y Mayor Durabilidad"
      />
      <ItemGallery
        href="/productos"
        description="Contamos con conocimientos y técnicas especializadas en soldaduras para reparar problemas de desgaste y fisuras en piñones, coronas y otros componentes, independientemente de su forma, tamaño o marca"
        imgSrc={imgGallery4.src}
        title="Reparación Especializada de Componentes de Transmisión de Potencia"
      />
      <ItemGallery
        href="/soluciones"
        description="Procesos y Técnicas de soldadura especializadas para diferentes tipos de metales, como acero inoxidable y hierro."
        imgSrc={imgGallery5.src}
        title="Servicio de Soldadura"
      />
      <ItemGallery
        href="/productos"
        description="Expertos en Fabricación y Reparación de cilindros hidráulicos y neumáticos para maquinaria de movimiento de tierra e industria, con insumos certificados y conforme a las especificaciones y estándares originales del fabricante."
        imgSrc={imgGallery6.src}
        title="¡Reparación y Fabricación a Medida!"
        extraClass={["col-span-2"]}
      />
      <ItemGallery
        href="/soluciones"
        description='Scooptram, Empernadores, Desatadores, Perforadoras, entre otros.'
        imgSrc={imgGallery7.src}
        title="Reparación integral de Cucharas de Cargadores Frontales"
      />
    </div>
  </div>
</section>
