---
import bgGallery from "@images/bg-gallery.svg";
import imgGallery1 from "@images/gallery/gallery-img-1.webp";
import imgGallery2 from "@images/gallery/gallery-img-2.webp";
import imgGallery3 from "@images/gallery/gallery-img-3.webp";
import imgGallery4 from "@images/gallery/gallery-img-4.webp";
import imgGallery5 from "@images/gallery/gallery-img-5.webp";
import imgGallery6 from "@images/gallery/gallery-img-6.webp";
import imgGallery7 from "@images/gallery/gallery-img-7.webp";
import ItemGallery from "./ItemGallery.astro";
---

<section class="flex flex-col w-full bg-white relative">
  <img
    class="absolute size-full object-cover -z-0"
    src={bgGallery.src}
    alt="Fondo Galería"
  />
  <div class="flex flex-col gap-6 container mx-auto w-full py-16 z-0">
    <h4 class="text-primary-red font-black text-xl fade-up text-center">
      NUESTRO TRABAJO
    </h4>
    <h3
      class="text-primary-blue font-black text-5xl italic fade-up text-center"
    >
      Innovación y Excelencia en Cada Proyecto
    </h3>
    <div class="flex flex-col fade-up">
      <p class="text-2xl italic font-medium text-center">
        Ofrecemos una amplia gama de <span class="text-primary-red font-bold"
          >SOLUCIONES y PRODUCTOS</span
        > para diferentes industrias.
      </p><p class="text-2xl italic font-medium text-center">
        Explora nuestra galería y descubre cómo impulsamos el éxito de nuestros
        clientes.
      </p>
    </div>
    <div
      class="containter w-full mx-auto grid grid-cols-4 grid-rows-[450px,280px] gap-6"
    >
      <ItemGallery
        description="!Diseño y Contrucción de piezas metálicas a medida!"
        imgSrc={imgGallery1.src}
        title="!Diseño y Contrucción de piezas metálicas a medida!"
      />
      <ItemGallery
        description="!Diseño y Contrucción de piezas metálicas a medida!"
        imgSrc={imgGallery2.src}
        title="!Diseño y Contrucción de piezas metálicas a medida!"
      />
      <ItemGallery
        description="!Diseño y Contrucción de piezas metálicas a medida!"
        imgSrc={imgGallery3.src}
        title="!Diseño y Contrucción de piezas metálicas a medida!"
      />
      <ItemGallery
        description="!Diseño y Contrucción de piezas metálicas a medida!"
        imgSrc={imgGallery4.src}
        title="!Diseño y Contrucción de piezas metálicas a medida!"
      />
      <ItemGallery
        description="!Diseño y Contrucción de piezas metálicas a medida!"
        imgSrc={imgGallery5.src}
        title="!Diseño y Contrucción de piezas metálicas a medida!"
      />
      <ItemGallery
        description="!Diseño y Contrucción de piezas metálicas a medida!"
        imgSrc={imgGallery6.src}
        title="!Diseño y Contrucción de piezas metálicas a medida!"
        extraClass={["col-span-2"]}
      />
      <ItemGallery
        description="!Diseño y Contrucción de piezas metálicas a medida!"
        imgSrc={imgGallery7.src}
        title="!Diseño y Contrucción de piezas metálicas a medida!"
      />
    </div>
  </div>
</section>
